@font-face {
  font-family: 'Circe';
  font-weight: 400;
  src: local('Circe'),
    url('../assets/fonts/Circe-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Circe';
  font-weight: 700;
  src: local('Circe'), url('../assets/fonts/Circe-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: local('Poppins'),
    url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: local('Poppins'),
    url('../assets/fonts/Poppins-Bold.ttf') format('TrueType');
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: 400;
  src: local('Segoe UI'), url('../assets/fonts/segoeui.ttf') format('truetype');
}

@font-face {
  font-family: 'Segoe UI';
  font-weight: 700;

  src: local('Segoe UI'), url('../assets/fonts/segoeuib.ttf') format('truetype');
}
