
/*тимчасові стилі, далі перероблю на styled comp (ще з ними  не розбирався)*/
.home_mobile__card {
  list-style: none;
  position: relative;
  display: block;
  width: 280px;
  border-radius: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #e7eaf2;  /*тимчасовий колір щоб відтінити*/
  border-left: 5px solid var(--color-tertiary); 
}

.home_mobile__card:not(:last-child) {
  margin-bottom: 40px;
}

.home_mobile__group {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.table__card:not(:last-child) {
  border-bottom: 1px solid #dcdcdf;
}

.table__item {
  font-weight: 700;
}
.table__item_value {
  text-align: right;
}
.home_mobile__card_spend {
  font-weight: 700;
  border-left: 5px solid var(--color-tertiary);

}
.home_mobile__card_income {
  font-weight: 700;
  border-left: 5px solid var(--color-secondary);
}