@import '../../stylesheet/fonts.css';
@import '../../stylesheet/vars.css';

.mainNavigation {
  display: flex;
  justify-content: space-evenly;
}

.mainNavigation svg {
  width: 44px;
  height: 44px;
  color: var(--color-primary-light);
}

.mainNavigation svg ~ span {
  display: none;
}

.active svg {
  color: var(--color-primary);
  filter: var(--drop-shadow);
}

@media screen and (min-width: 768px) {
  .mainNavigation {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .mainNavigation a {
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    align-items: center;
  }

  .mainNavigation svg ~ span {
    display: block;
  }

  .mainNavigation .active {
    font-weight: bold;
  }

  .mainNavigation svg {
    width: 24px;
    height: 24px;
    margin-right: 20px;
  }

  .mainNavigation a:not(:last-child) {
    margin-bottom: 12px;
  }
}
